@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.form-container h1 {
    text-align: center;
}

.form-container a {
    display: block;
    margin-bottom: 10px;
    text-align: right;
    color: #337ab7;
    text-decoration: none;
}

.form-container input[type="text"],
.form-container input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #dddddd;
    border-radius: 3px;
}

.form-container button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #337ab7;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.form-container ul {
    list-style-type: none;
    color: red;
    margin: 0;
    padding: 0;
}

.form-container ul li {
    margin-bottom: 5px;
}

#show-file {
    display: block;
    margin-bottom: 10px;
}